<div class="containerpost">
  <article class="main-article">
    <div class="post-image">
      <%= image_tag @post.banner %>
      <!-- <img class="card-img-top" src="<%= url_for @post.optimized_image(@post.banner, 725, 400) %>" alt="Blog Post Image Card" /> -->
    </div>
    <h3 class="titlepost"><%= link_to @post.title %></h3>
    <div class="post-meta">
      <span class="post-date"><%= @post.created_at.strftime("%e %B %Y at %l:%m%p") %></span>
      <span class="views"><i class="fas fa-eye"></i> <%= @post.views %></span>
    </div>
    <!-- <h4 class="author">Nicoleta Calin</h4> -->
    <p><%= @post.body %></p>
  </article>
</div>
